    .numberContainer{
        height: 400px;
        width: 500px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap ;
        flex: 1 1 auto;
        border: 5px ridge black ;
        justify-content: center;
        gap: 5px;
        padding: 10px;
    }

    button.number{
        width: 150px;
        height: 90px;
        font-size: 60px;
    }

    .symbolContainer{
        height: 400px;
        width: 500px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap ;
        flex: 1 1 auto;
        border: 5px ridge black ;
        justify-content: center;
        gap: 5px;
        padding: 10px;
    }

    button.symbol{
        width: 150px;
        height: 75px;
        font-size: 60px;

    }

    .display{
        width: 450px;
        height: 150px;
        border: 5px solid blue;
        font-size: 20px;
        }

    button.backSpace{
        display: flex; 
        justify-content: center;
        align-items: start;
        font-size: 60px;
        width: 150px;
        height: 75px;
        
    }

    button.clear{
        width: 150px;
        height: 75px;
        font-size: 35px;
    }

    button.dot{
        width: 150px;
        height: 75px;
        font-size: 35px;
    }